.casas{
    color: white;
    font-family: "got";
    display:flex;
    justify-content: space-between;
    font-size: 36px;
    text-decoration: none;
}

.casa:hover{
    text-decoration: overline;
}

.divLinksFooter{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-weight: normal;
    padding-top: 20px;
}