@charset "UTF-8";
@font-face {
    font-family: "got";
    src: url(../../../public/assets/GameofThrones.ttf);
}

*{
    background-color: black;
}

.housesTextAndListContainer{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-bottom: 2%;
}

.housesListContainer{
    padding-left: 4.43%;
    padding-right: 4.43%;
    width: 91.14%;
    height: 73.98%;
    display: flex;

}

.housesHousesList{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    height: 700px;
    overflow: auto;
}
.housesHousesList::-webkit-scrollbar{
    width: 10px;
}
.housesHousesList::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px #453d3d;
    border-radius: 5px;
}
.housesHousesList::-webkit-scrollbar-thumb {
    background-color: white;
    outline: 1px solid slategrey;
    border-radius: 5px;
}

.housesHousesContainer{
    display: flex;
    flex-direction: column;
    width: 248px;
    height: 340px;
    align-items: center
}

.housesHousesFlags{
    width: 248px;
    height: 297.6px;
}

.housesHousesNames{
    color: white;
    font-size: 14px;
    font-family: "got";
    font-weight: normal;
}
.housesInput {
    padding-top: 2%;
    margin-bottom: 2%;
    display: flex;
    border: none;
    border-bottom: 2px solid rgb(245, 245, 242); /* Línea inferior de 2 píxeles de ancho en color amarillo */
    background-color: black; /* Fondo negro */
    color: white; /* Texto blanco */
    margin-left: 6.7%;
    font-family: "got";
    height: 30px;
    outline: none;
}
.housesLupita{
    width: 21px;
    height: 21px;
}
.housesInputInput{
    border: none; /* Elimina el borde */
    background-color: black; /* Fondo negro */
    color: white; /* Texto blanco */
    margin-left: 6.7%;
    font-family: "got";
    height: 27px;
    outline: none;
    width: 400px;
}
.housesInputInput:focus{
    font-size: 18px;
}

.housesInputInput::-moz-placeholder {
    font-size: 18px;
    border: none;
}

.housesInputInput::placeholder {
    font-size: 18px;
    border: none;
}
