@charset "UTF-8";
@font-face {
  font-family: "got";
  src: url("../../../public/assets/GameofThrones.ttf");
}


.charactersTextAndListContainer{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  height: 10%;
}


.charactersListContainer{
  padding-left: 4.43%;
  padding-right: 4.43%;
  width: 91.14%;
  height: 80%;
  display: flex;
}

.charactersFlags{
  width: 15%;
  padding-top: 2%;

}

.charactersImgCharacters {
  width: 248px;
  height: 320px;
  -o-object-fit: cover;
  object-fit: cover;
  padding-bottom: 68px;
  margin-right: 3px;
}

.charactersSimpleBar{
  width: 95%;
  height: 770px;
}

.charactersFlexImage {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-left: 4.43%;
  padding-right: 4.43%;
  width: 91.14%;
  height: 73.98%;

}

.charactersFlexCharacters {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.charactersCharacter {
  position: relative;
  display: inline-block;
}

.charactersCharacter img {
  display: block;
}

.charactersHover-info {
  position: absolute;
  bottom: 68px;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding-top: 21px;
  padding-bottom: 21px;
  opacity: 1;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out;
  text-align: center;
  font-family: got;
  font-size: 14px;
  font-weight: normal;
}

.charactersCharacter:hover .charactersHover-info {
  opacity: 1;
  visibility: visible;
}

.charactersInput {
  padding-top: 2%;
  display: flex;
  border: none;
  border-bottom: 2px solid rgb(245, 245, 242); /* Línea inferior de 2 píxeles de ancho en color amarillo */
  background-color: black; /* Fondo negro */
  color: white; /* Texto blanco */
  margin-left: 6.7%;
  font-family: "got";
  height: 30px;
  outline: none;
}

.charactersInputAndFlags{
  display: flex;
  align-content: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.charactersLupita{
  width: 21px;
  height: 21px;
}

.charactersInputInput {
  border: none; /* Elimina el borde */
  background-color: black; /* Fondo negro */
  color: white; /* Texto blanco */
  margin-left: 6.7%;
  font-family: "got";
  height: 27px;
  outline: none;
  width: 400px;
  font-size: 18px;
}

.charactersInputInput:focus{
  font-size: 18px;
}

.charactersInputInput::-moz-placeholder {
  font-size: 18px;
  border: none;
}

.charactersInputInput::placeholder {
  font-size: 18px;
  border: none;
}




.simplebar-track {
    background-color: rgba(175, 174, 174, 0.503); 
    border-radius: 8px; 
}


.simplebar-scrollbar {
    background-color: #cfcbcb; 
    border-radius: 8px; 
}

.simplebar-scrollbar:hover {
    background-color: #0056b3;
}

.simplebar-content{
  margin-right: 50px;
}