.menulogosConCasa{ 
    width: 200px;
    display:flex;
    justify-content: flex-end;
    position: absolute;
    right: 6%;
    gap: 20px;
    align-items: center
}
.menuConCasaCasita{
    width: 50px;
}

.homeIcono{
    height: 4%;
    min-height: 34px;
    width: 4%;
    min-width: 43px ;
    display:flex;
    margin-right: 5%;
}
.menuConCasaspain{
    border-radius: 5px;
    /* height: 40px; */
    width: 55px;
    min-width: 32px;
    display: flex;
    margin-right: 5%;
}
.menuConCasauk{
    border-radius: 5px;
    /* height: 40px; */
    width: 55px;
    min-width: 32px;
    display: flex;
    margin-right: 5%;
}